
html, body{
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin-left: 100px;
    margin-top: 50px;
}

.task{
    font-size: 40px;
    color: white;
    font-weight: bolder;
}

.display{
    color: gray;
    font-size: 30px;
    position: relative;
    top: 20px;
}

.list{
    color: white;
    font-size: 40px;
    color: gray;
}

/* .pos{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
} */

.pos2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
    position: relative;
    left: 900px;
    top: -40px;
}

.span123{
    color: white;
    font-size: 25px;
    font-weight: 700;
    height: 40px;
    width: 100px;
    background-image: linear-gradient(to right, tomato, lightgray, tomato);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    right: 100px;
    top: 5px;

}
/* #inputfield{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
} */

/* #addTodo{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
} */

.to-dos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    color: red;  
}

.cardstyling{
    margin-top: 40px;
    padding: 10px;
    height: 280px;
    width: 200px;
    background-color: white;
    border: red solid 1px;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: red;
    position: relative;
    z-index: 1;
    text-align: center;
    box-shadow: 2px 2px 10px gray;
    transition-duration: 0.2s;
}

.cardstyling:hover{
    transform: scale(1.03);
}

.addlist{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 250px;
    left: 10px;
    cursor: pointer;
    background-image: url(plus.png);
    background-size: contain;
    transition-duration: 0.3s ;
}

.addlist:active{
    transform: translateY(-5px);
}

.del{
   height: 45px;
   width: 45px;
   position: absolute;
   top: 250px;
   left: 165px;
   cursor: pointer;
   background-image: url(cross.jpg);
   background-size: contain;
   transition-duration: 0.3s;
}

.del:active{
    cursor: pointer;
    transform: translateY(-5px)
}

.buttonx{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-size: 70px;
}

.box{
    height: 200px;
    width: 400px;
    border: red 1px solid;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index:3;
    left: calc((100vw - 400px)/2);
    top: 0;
    /* transform: translate(-50%,-50%) scale(0.1); */
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow:  2px 2px 10px gray;
}

.open-popup{
    visibility: visible;
    top: 30%;
    /* backdrop-filter: blur(7px); */
    /* transform: translate(-50%,-50%) scale(1); */
}

.box1{
    font-size: 20px;
    color: red;
    position: relative;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#inputfield{
    border: red 1px solid;
    height: 30px;
    width: 300px;
    position: relative;
    top: 40px;
    box-shadow: 1px 1px 8px;
    text-align: center;
}

.button1{
    height: 40px;
    width: 100px;
    color: white;
    background-color: red;
    border-radius: 10%;
    margin-right: 10px;
    position: relative;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.button1:hover{
    opacity: 0.9;
    translate: 1px -1px;
}

.button2{
    height: 40px;
    width: 100px;
    color: white;
    background-color: red;
    border-radius: 10%;
    margin-left: 10px;
    position: relative;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.button2:hover{
    opacity: 0.9;
    translate: 1px -1px;
}

.img123{
    transition: 0.4s;
    cursor: pointer;
}

.img123:hover{
    opacity: 0.8;
}

.img123.active{
    opacity: 0.6;
}

.button123{
    height: 30px;
    width: 30px;
    background-color: yellow;
}


#buttonn{
    height: 40px;
    width: 80px;
    cursor: pointer;
}

.box123{
    height: 200px;
    width: 400px;
    border: red 1px solid;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: calc((100vw - 400px)/2);
    top: 0;
    z-index: 2;
    /* transform: translate(-50%,-50%) scale(0.1); */
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow:  2px 2px 10px gray;
}

.open-popup123{
    visibility: visible;
    top: 30%
    /* backdrop-filter: blur(7px); */
    /* transform: translate(-50%,-50%) scale(1); */
}

.innerlist{
    font: 15px;
    color:black;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 50px;
    z-index: 5;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    background-color: darkgrey;
    display: flex;
    align-items: center;
}

#inputfieldList{
    border: red 1px solid;
    height: 30px;
    width: 300px;
    position: relative;
    top: 40px;
    box-shadow: 1px 1px 8px;
    text-align: center;
}

.to-dos-list{
    display: grid;
    grid-template-rows: auto; 
    color: red;
}

/* .pos{
    display: flex;
    flex-direction: row;
} */
  
.blurbckgrnd{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.removeblur{
    filter: blur(0);
}

.outer{
    height: 30px;
    width: 195px;
    border-radius: 2px;
    background-color: lightgrey;
    position: relative;
    top: -10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    text-align: start;
    font-size: 15px;
    color: black;
    display: flex;
    align-items: center;
    border: 1px gray dotted;
}

.tick{
    height: 15px;
    width: 40px;
    background-image: url(check.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 180px;
    top: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.tick:active {
    translate: 5px -5px;
}

.cross1{
    height: 14px;
    width: 30px;
    background-image: url(cross1.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.cross1:active {
    translate: 5px -5px;
}


.para{
    color: red;
    font-size: 20px;
}

.center{
    position: absolute;
    left: 45%;;

}

.task123{
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.list123{
    color: gray;
    font-size: 40px;
}

.gridd{
    display: grid;
    grid-template-columns: auto auto;
}

.back{
    color: gray;
    font-size: 30px;
    position: relative;
    left: -120px;
    top: 5px;
}

#image2{
    cursor: pointer;
}

.a{
    font-size: 25px;
    color:red;
}

.enlarge{
    transform: scale(2);
}

.enlarge{
    height: 300px;
    width: 300px;
    background-color: white;
    border: red 2px solid;
}